{{#if resume.education.length}}
<hr class='sectionLine' />
<div id='education' class="sectionBlock">
	<div class='sectionName'>
		<span>Education</span>
	</div>
	<div class='sectionContent'>
		{{#each resume.education}}
		<div class='educationBlock'>
			<div class="blockHeader">
			<span class='title'>
				{{#if institution}}{{institution}}{{/if}}
			</span>
			{{#if startDate}}
			<span class='date'>
				{{#if startDate}}{{formatDate startDate}}{{/if}} - {{#if endDate}}{{formatDate endDate}}{{else}}Present{{/if}}
			</span>
			{{/if}}

			</div>
			<div class='blockHeader'>
				<span>{{#if studyType}}{{studyType}} {{/if}} - {{#if area}}{{area}}{{/if}}</span>{{#if score}}<span class="score">GPA: {{score}}</span>{{/if}}
			</div>
			{{#if courses.length}}
			<div id='coursesBlock'>
				<ul class='coursesList'>
					{{#each courses}}
					<li class='course'>{{.}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
		</div>
		{{#unless @last}}<div class='separator'></div>{{/unless}}
		{{/each}}
	</div>
</div>
{{/if}}