{{#if resume.skills.length}}
<hr class='sectionLine' />
<div id='skills' class="sectionBlock">
	<div class='sectionName'>
		<span>Skills</span>
	</div>
	<div class='sectionContent'>
		{{#each resume.skills}}
		<div class='skillBlock'>
			<span class='title'>{{#if name}}{{name}}{{/if}}{{#if level}} <em>({{level}})</em>{{/if}}:</span>
			{{#if keywords.length}}
			{{#each keywords}}
			<span class="smallFont">{{.}}</span>{{#unless @last}}, {{/unless}}
			{{/each}}
			{{/if}}
			{{#if details.length}}
			{{#each details}}
			<span class="smallFont">{{#if text}}{{text}}{{/if}}{{#if comment}} <em>({{comment}})</em>{{/if}}{{#unless @last}},
				{{/unless}}</span>
			{{/each}}
			{{/if}}
		</div>
		{{/each}}
	</div>
</div>
{{/if}}