{{#if resume.work.length}}
<hr class='sectionLine' />
<div id='workBlock' class="sectionBlock">
	<div class='sectionName'>
		<span>Experience</span>
	</div>
	<div class='sectionContent'>
		{{#each resume.work}}
		<div class="jobBlock">
			<div class='blockHeader'>
				<spam>
					<span class='title'>{{#if name}}{{name}}{{/if}}</span>
					{{#if position}} | <span class="position">{{position}}</span>{{/if}}
					{{#if startDate}}
				</spam>
				<span class='date'>
					{{#if startDate}}{{formatDate startDate}}{{/if}} - {{#if endDate}}{{formatDate
					endDate}}{{else}}Present{{/if}}
				</span>
				{{/if}}
			</div>
			<div class="blockSubheader"><a href='{{url}}'>{{url}}</a>{{#if location}}<span class="location">{{location}}</span>{{/if}}
			</div>
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
			{{#if highlights.length}}
			<ul class='highlights'>
				{{#each highlights}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
			{{#unless @last}}<div class='separator'></div>{{/unless}}
		</div>
		{{/each}}
	</div>
</div>
{{/if}}